@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 150px;
    height: 130px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    margin-right: 30px; 
    display: inline;
}

header nav ul a {
    color: #000;
    font: bold 16px 'Roboto';
    text-decoration: none;
}

header .mobile{
    display: none;
}

.hr {
    border: 2px solid #989aa9;
    box-shadow: 0 6px 4px #e0e0e2;
}

.body-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.body-text .text1{
    font: 300 14px 'Roboto';
    color: #ddd860;
}

.body-text .text2{
    font: 600 40px 'Roboto';
    color: #020202;
    margin-bottom: 60px;
}

.section-body{
    display: flex;
    justify-content: space-between;
}

.section-body article{
    display: flex;
    flex-direction: column;
}

.article-img{
    position: relative;
    width: 300px;
    height: 300px;
}

.section-body article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-body article .img-text{
    width: 100%;
    padding: 15px 0;
    border-style: none solid solid;
    border-width: 2px;
    border-color: #bebebe;
    background-color: #fcf9f9;
}

.container-img-text{
    max-width: 270px;
    margin: auto;
}

.img-text i{
    color: #ffd504;
}

.img-text-episode1 p{
    display: inline-block;
    color: #989aa9;
    font-family: 'Roboto';
}

.img-text-episode2 p{
    margin: 13px 0;
    font: bold 17px 'Roboto';
}

.img-text-episode3 span{
    color: #5e861c;
    font-weight: 600;
}

.img-text-episode3 p{
    font: 500 14px 'Roboto';
}

.img-text-horizontal{
    width: 100%;
    height: 0.5px;
    margin: 25px 0;
    background-color: #989aa9;
}

.img-text-episode4{
    display: inline-block;
}

.img-text-episode4 div{
    display: inline-block;
}

.img-text-episode4 div:nth-child(1){
    margin-right: 20px;
}

.img-text-episode4 i{
    color: #989aa9;
}

.img-text-episode4 span{
    color: #989aa9;
}













